<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hermes</title>
  <link rel="stylesheet" media="all" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
  <link rel="stylesheet" media="all" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.css">
  <link rel="stylesheet" media="all" href="/css/app.css">

</head>
<body>

  <!-- TEMPLATES -->
  <!-- Layout template -->
  <script type="text/template" id="layout-template">
    <div class="container">
      <div class="row-fluid">
        <div class="col-sm-12 col-md-12 col-lg-12" id="view-message"></div>
        <div class="col-sm-12 col-md-12 col-lg-12" id="view-content"></div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12" id="view-dialog"></div>
    </div>
  </script>

  <!-- ACCOUNTS TEMPLATES -->
  <!-- Account Template -->
  <script type="text/template" id="account-template">
    <td>
      <a href="/accounts/<%= id %>/show">
        <%= name %>
      </a>
    </td>
    <td>
      <%= balance %>
    </td>
    <td>
      <%= currency_code %>
    </td>
    <td>
      <%= login_id %>
    </td>
    <td>
      <a href="<%= transactions_path %>">
        <%= transactions_count %>
      </a>
    </td>
  </script>

  <!-- Account Empty Template -->
  <script type="text/template" id="account-empty-template">
    <td colspan="5" style="text-align: center;">
      <h4 class="bold text-danger">NO DATA</h4>
    </td>
  </script>

  <!-- Accounts Index Template -->
  <script type="text/template" id="accounts-index-template">
    <div class="row">
      <div class="col-xs-12">
        <h3>
          <%= documentTitle() %>
          &nbsp;
          <div class="btn btn-sm btn-default js-back">Back</div>
          <div class="btn btn-sm btn-primary js-to-dashboard">To Dashboard</div>
          &nbsp;
          &nbsp;
          <div class="btn btn-sm btn-info js-to-transactions">To all transactions</div>
          <div class="btn btn-sm btn-warning js-to-pending-transactions">To pending transactions</div>
        </h3>
      </div>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Balance</th>
          <th>Currency</th>
          <th>Login id</th>
          <th>Transactions count</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </script>

  <!-- Account Show Template -->
  <script type="text/template" id="account-show-template">
    <h3>
      <%= documentTitle() %>
      &nbsp;
      <div class="btn btn-sm btn-default js-back">Back</div>
    </h3>
    <table class="table table-hover table-customers">
      <thead></thead>
      <tbody>
        <tr>
          <td class="first-td data-head">Id</td>
          <td>
            <%= id %>
          </td>
        </tr>
        <tr>
          <td class="data-head">Name</td>
          <td>
            <%= name %>
          </td>
        </tr>
        <tr>
          <td class="data-head">Currency</td>
          <td>
            <%= currency_code %>
          </td>
        </tr>
        <tr>
          <td class="data-head">Balance</td>
          <td>
            <%= balance %>
          </td>
        </tr>
        <tr>
          <td class="data-head">Login id</td>
          <td>
            <%= login_id %>
          </td>
        </tr>
        <tr>
          <td class="data-head">Nature</td>
          <td>
            <%= nature %>
          </td>
        </tr>
        <tr>
          <td class="data-head">Extra</td>
          <td>
            <% for(key in extra) { %>
              <%= key + ": " + extra[key] %>
            <% } %>
          </td>
        </tr>
        <tr>
          <td class="data-head">Created</td>
          <td>
            <%= created_at %>
          </td>
        </tr>
        <tr>
          <td class="data-head">Updated</td>
          <td>
            <%= updated_at %>
          </td>
        </tr>
      </tbody>
    </table>

  </script>


  <!-- APPLICATION TEMPLATES -->
  <!-- Modal Template -->
  <script type="text/template" id="modal-template">
    <div class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button class="cancel" type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h4><%= title %></h4>
          </div>
          <div class="modal-body">
            <h4><% body %></h4>
          </div>
          <div class="modal-footer">
            <div class="btn btn-default cancel js-cancel" data-dismiss="modal" aria-hidden="true">Close</div>
          </div>
        </div>
      </div>
    </div>
  </script>

  <!-- Confirm Modal Template -->
  <script type="text/template" id="confirm-modal-template">
    <div class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button class="cancel close" type="button" data-dismiss="modal" aria-hidden="true">x</button>
            <h4><%= title || "Warning!" %></h4>
          </div>
          <div class="modal-body">
            <h4><%= confirmation %></h4>
          </div>
          <div class="modal-footer">
            <div class="btn btn-default cancel js-cancel" data-dismiss="modal" aria-hidden="true">Cancel</div>
            <div class="btn btn-danger confirm js-confirm">Confirm</div>
          </div>
        </div>
      </div>
    </div>
  </script>

  <!-- Main Info Template -->
  <script type="text/template" id="main-info-template">
    <div class="modal fade text-center js-modal col-xs-12">
      <div class="modal-dialog modal-delete modal-small">
        <div class="modal-content col-xs-12">
          <div class="modal-header">
            <div class="message js-message">
              <h3 class="text-danger">For work need Client ID and App Secret!</h3>
              <span>
                Please get Client ID, App Secret and Service Secret from
                <a href="<%= HermesApp.Data.saltedgeClientUrl %>" rel="link" target="_blank">
                  SaltEdge.
                </a>
              </span>
            </div>
          </div>
          <div class="modal-body">
            <div class="form-group col-xs-12 first">
              <input autocomplete="off" autofocus="<%= true %>" class="form-control controller" id="client-id" name="client_id" placeholder="Client ID" type="text"></input>
            </div>
            <div class="form-group col-xs-12">
              <input autocomplete="off" autofocus="<%= true %>" class="form-control controller" id="service-secret" name="service_secret" placeholder="Service Secret" type="text"></input>
            </div>
            <div class="form-group col-xs-12 last">
              <input autocomplete="off" autofocus="<%= true %>" class="form-control controller" id="app-secret" name="app_secret" placeholder="App Secret" type="text"></input>
            </div>
          </div>
          <div class="modal-footer js-modal-footer col-xs-12">
            <div class="col-xs-12">
              <div class="btn btn-default js-cancel pull-left" data-dismiss="modal"> Cancel</div>
              <div class="btn btn-success js-confirm pull-right">Save</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>

  <!-- Message Template -->
  <script type="text/template" id="message-template">
    <div class="alert alert-block <%= alert_class %>">
      <button class="close" type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
      <h4><%= message %></h4>
    </div>
  </script>


  <!-- CONNECT TEMPLATE -->
  <!-- Connect Template -->
  <script type="text/template" id="connect-template">
    <iframe id="connect-iframe"></iframe>
  </script>


  <!-- CUSTOMERS TEMPLATE -->
  <!-- Customer show template -->
  <script type="text/template" id="customer-show-template">
    <h3>
      <%= documentTitle() %>
      &nbsp;
      <div class="btn btn-sm btn-default js-back">Back</div>
    </h3>
    <table class="table table-hover table-customers">
      <thead></thead>
      <tbody>
        <tr>
          <td class="first-td data-head">id</td>
          <td>
            <%= id %>
          </td>
        </tr>
        <tr>
          <td class="data-head">Identifier</td>
          <td>
            <%= identifier %>
          </td>
        </tr>
        <tr>
          <td class="data-head">Secret</td>
          <td>
            <%= secret %>
          </td>
        </tr>
        <tr>
          <td class="data-head">Status</td>
          <td>
            <%= status %>
          </td>
        </tr>
        <tr>
          <td class="data-head">Logins count</td>
          <td>
            <%= logins_count %>
          </td>
        </tr>
        <tr>
          <td class="data-head">Created</td>
          <td>
            <%= created_at %>
          </td>
        </tr>
        <tr>
          <td class="data-head">Updated</td>
          <td>
            <%= updated_at %>
          </td>
        </tr>
      </tbody>
    </table>

  </script>


  <!-- DASHBOARD TEMPLATE -->
  <!-- Dashboard template -->
  <script type="text/template" id="dashboard-template">
    <div class="row">
      <div class="col-xs-12">
        <h3>
          <%= documentTitle() %>
        </h3>
      </div>
    </div>

    <table class="table table-hover table-dashboard head table-striped">
      <thead>
        <tr>
          <th>Customer</th>
          <th>Identifier</th>
          <th>Status</th>
          <th>Logins</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="bold">
            <% if (id) { %>
              <a class="js-customer-link" href="#"><%= name %></a>
            <% } else { %>
              <%= name %>
            <% } %>
          </td>
          <td class="bold">
            <%= identifier %>
          </td>
          <td class="<%= active_class %> bold">
            <%= status %>
          </td>
          <td class="bold">
            <% if (logins_count > 0) { %>
              <a href="/logins"><%= logins_count %></a>
            <% } else { %>
              0
            <% } %>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="table table-hover table-dashboard additional">
      <thead></thead>
      <tbody>
        <tr>
          <td class="data-head">Accounts</td>
          <td class="bold">
            <% if (accounts_count > 0) { %>
              <a href="/accounts"><%= accounts_count %></a>
            <% } else { %>
              0
            <% } %>
          </td>
        </tr>
        <tr>
          <td class="data-head">Transactions</td>
          <td class="bold">
            <% if (transactions_count > 0) { %>
              <a href="/transactions"><%= transactions_count %></a>
            <% } else { %>
              0
            <% } %>
          </td>
        </tr>
        <tr>
          <td class="data-head">Actions</td>
          <td>
            <a class="btn btn-success connect js-connect" href="#">Connect Bank</a>
            <div class="btn btn-sm btn-danger js-reset pull-right" title="Resets all data and create a new Customer">RESET ALL</div>
          </td>
        </tr>
      </tbody>
    </table>

  </script>


  <!-- LOGINS TEMPLATES -->
  <!-- Login Template -->
  <script type="text/template" id="login-template">
    <td>
      <a href="/logins/<%= id %>/show">
        <%= id %>
      </a>
    </td>
    <td>
      <%= provider_name %>
    </td>
    <td>
      <%= country_code %>
    </td>
    <td>
      <%= status %>
    </td>
    <td>
      <a href="/accounts/by_login/<%= id %>">
        <%= accounts_count %>
      </a>
    </td>
    <td>
      <div class="dropdown" role="presentation"></div>
      <a aria-expanded=true aria-haspopup=true class="dropdown-toggle login-actions" data-toggle="dropdown" href="#" role="button">Actions
        <span class="caret"></span>
      </a>
      <ul aria-labelledby="drop6" class="dropdown-menu">
        <li>
          <a class="js-refresh" href="#">Refresh</a>
        </li>
        <li>
          <a class="js-reconnect" href="#">Reconnect</a>
        </li>
        <li>
          <a class="js-destroy" href="#">Destroy</a>
        </li>
      </ul>
    </td>
  </script>

  <!-- Login Empty Template -->
  <script type="text/template" id="login-empty-template">
    <td colspan="6" style="text-align: center;">
      <h4 class="bold text-danger">NO DATA</h4>
    </td>
  </script>

  <!-- Logins Index Template -->
  <script type="text/template" id="logins-index-template">
    <div class="row">
      <div class="col-xs-12">
        <h3>
          <%= documentTitle() %>
          &nbsp;
          <div class="btn btn-sm btn-default js-back">Back</div>
        </h3>
      </div>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Provider</th>
          <th>Country code</th>
          <th>Status</th>
          <th>Accounts</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </script>

  <!-- Login Show Template -->
  <script type="text/template" id="login-show-template">
    <h3>
      <%= documentTitle() %>
      &nbsp;
      <div class="btn btn-sm btn-default js-back">Back</div>
    </h3>
    <table class="table table-hover table-customers">
      <thead></thead>
      <tbody>
        <tr>
          <td class="first-td data-head">id</td>
          <td>
            <%= id %>
          </td>
        </tr>
        <tr>
          <td class="data-head">Provider</td>
          <td>
            <%= provider_name %>
          </td>
        </tr>
        <tr>
          <td class="data-head">Country code</td>
          <td>
            <%= country_code %>
          </td>
        </tr>
        <tr>
          <td class="data-head">Interactive</td>
          <td>
            <%= last_attempt.interactive %>
          </td>
        </tr>
        <tr>
          <td class="data-head">Automatic fetch</td>
          <td>
            <%= last_attempt.automatic_fetch %>
          </td>
        </tr>
        <tr>
          <td class="data-head">Customer secret</td>
          <td>
            <%= customer_secret %>
          </td>
        </tr>
        <tr>
          <td class="data-head">Status</td>
          <td>
            <%= status %>
          </td>
        </tr>
        <tr>
          <td class="data-head">Accounts count</td>
          <td>
            <%= accounts_count %>
          </td>
        </tr>
        <tr>
          <td class="data-head">Last fail</td>
          <td>
            <%= last_fail_at %>
          </td>
        </tr>
        <tr>
          <td class="data-head">Last fail message</td>
          <td>
            <%= last_fail_message %>
          </td>
        </tr>
        <tr>
          <td class="data-head">Last success</td>
          <td>
            <%= last_success_at %>
          </td>
        </tr>
        <tr>
          <td class="data-head">Last refresh possible</td>
          <td>
            <%= next_refresh_possible_at %>
          </td>
        </tr>
        <tr>
          <td class="data-head">Created</td>
          <td>
            <%= created_at %>
          </td>
        </tr>
        <tr>
          <td class="data-head">Updated</td>
          <td>
            <%= updated_at %>
          </td>
        </tr>
      </tbody>
    </table>
  </script>


  <!-- TRANSACTIONS TEMPLATES -->
  <!-- Transaction Template -->
  <script type="text/template" id="transaction-template">
    <td>
      <a href="/transactions/<%= id %>/show">
        <%= id %>
      </a>
    </td>
    <td>
      <%= made_on %>
    </td>
    <td>
      <%= category %>
    </td>
    <td>
      <%= status %>
    </td>
    <td>
      <%= description %>
    </td>
    <td>
      <%= amount %>
    </td>
  </script>

  <!-- Transaction Empty Template -->
  <script type="text/template" id="transaction-empty-template">
    <td colspan="5" style="text-align: center;">
      <h4 class="bold text-danger">NO DATA</h4>
    </td>
  </script>

  <!-- Transactions Index Template -->
  <script type="text/template" id="transactions-index-template">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="<%= text_class %>">
          <%= documentTitle() %>
          &nbsp;
          <div class="btn btn-sm btn-default js-back">Back</div>
          &nbsp;
          <div class="btn btn-sm btn-primary js-to-dashboard">Go To Dashboard</div>
        </h3>
      </div>
    </div>
    <table class="table table-hover transactions-table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Made on</th>
          <th>Category</th>
          <th>Status</th>
          <th>Description</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>

    <%= pagination %>
    <div class="pagination"></div>
  </script>

  <!-- Transaction Show Template -->
  <script type="text/template" id="transaction-show-template">
    <h3>
      <%= documentTitle() %>
      &nbsp;
      <div class="btn btn-sm btn-default js-back">Back</div>
    </h3>
    <table class="table table-hover table-transaction">
      <thead></thead>
      <tbody>
        <tr>
          <td class="first-td data-head">id</td>
          <td>
            <%= id %>
          </td>
        </tr>
        <tr>
          <td class="data-head">Status</td>
          <td>
            <%= status %>
          </td>
        </tr>
        <tr>
          <td class="data-head">Account Id</td>
          <td>
            <%= account_id %>
          </td>
        </tr>
        <tr>
          <td class="data-head">Category</td>
          <td>
            <%= category %>
          </td>
        </tr>
        <tr>
          <td class="data-head">Amount</td>
          <td>
            <%= amount %>
          </td>
        </tr>
        <tr>
          <td class="data-head">Currency</td>
          <td>
            <%= currency_code %>
          </td>
        </tr>
        <tr>
          <td class="data-head">Mode</td>
          <td>
            <%= mode %>
          </td>
        </tr>
        <tr>
          <td class="data-head">Extra</td>
          <td>
            <% for(key in extra) { %>
              <%= key + ": " + extra[key] %>
            <% } %>
          </td>
        </tr>
        <tr>
          <td class="data-head">Description</td>
          <td>
            <%= description %>
          </td>
        </tr>
        <tr>
          <td class="data-head">Made on</td>
          <td>
            <%= made_on %>
          </td>
        </tr>
        <tr>
          <td class="data-head">Created</td>
          <td>
            <%= created_at %>
          </td>
        </tr>
        <tr>
          <td class="data-head">Updated</td>
          <td>
            <%= updated_at %>
          </td>
        </tr>
      </tbody>
    </table>
  </script>

  <script type="text/template" id="pagination-template">
    <% var i, page, ref, ref1; %>
    <% firstPage   = obj.firstPage || ""; %>
    <% currentPage = obj.currentPage || ""; %>
    <% totalPages  = obj.totalPages || ""; %>
    <% adjacents   = obj.adjacents || ""; %>
    <% path        = obj.path || ""; %>

    <% if (totalPages > 1) { %>
      <ul class="pagination">
        <% if (currentPage > firstPage) { %>
          <li>
            <% page = currentPage - 1 %>
            <a class="page" href="<%= path.replace('%PAGE%', page) %>">
              Previous
            </a>
          </li>
        <% } else { %>
          <li class="disabled">
            <a>Previous</a>
          </li>
        <% } %>

        <% if (totalPages < 7 + (adjacents * 2)) { %>
          <% for(page = i = 1, ref = totalPages; 1 <= ref ? i <= ref : i >= ref; page = 1 <= ref ? ++i : --i) { %>
            <% if (page == currentPage) { %>
              <li class="disabled">
                <a>
                  <%= page %>
                </a>
              </li>
            <% } else { %>
              <li>
                <a class="page" href="<%= path.replace('%PAGE%', page) %>">
                  <%= page %>
                </a>
              </li>
            <% } %>
          <% } %>
        <% } else if (totalPages > 5 + (adjacents * 2)) { %>
          <% if (currentPage < 1 + (adjacents * 2)) { %>
            <% for(page = i = 1, ref = 4 + (adjacents * 2); 1 <= ref ? i < ref : i > ref; page = 1 <= ref ? ++i : --i) { %>
              <% if (page == currentPage) { %>
                <li class="disabled">
                  <a>
                    <%= page %>
                  </a>
                </li>
              <% } else { %>
                <li>
                  <a class="page" href="<%= path.replace('%PAGE%', page) %>">
                    <%= page %>
                  </a>
                </li>
              <% } %>
            <% } %>
            <li class="disabled">
              <a>...</a>
            </li>
          <% } else if (totalPages - (adjacents * 2) > currentPage && currentPage > (adjacents * 2)) { %>
            <li class="disabled">
              <a>...</a>
            </li>
            <% for(page = i = ref = currentPage - adjacents, ref1 = currentPage - 1; ref <= ref1 ? i <= ref1 : i >= ref1; page = ref <= ref1 ? ++i : --i) { %>
              <li>
                <a class="page" href="<%= path.replace('%PAGE%', page) %>">
                  <%= page %>
                </a>
              </li>
            <% } %>
            <li class="disabled">
              <a>
                <%= page %>
              </a>
            </li>
            <% for(page = i = ref = currentPage + 1, ref1 = currentPage + adjacents; ref <= ref1 ? i <= ref1 : i >= ref1; page = ref <= ref1 ? ++i : --i) { %>
              <li>
                <a class="page" href="<%= path.replace('%PAGE%', page) %>">
                  <%= page %>
                </a>
              </li>
            <% } %>
            <li class="disabled">
              <a>...</a>
            </li>
          <% } else { %>
            <li class="disabled">
              <a>...</a>
            </li>
            <% for(page = i = ref = totalPages - (2 + (adjacents * 2)), ref1 = totalPages; ref <= ref1 ? i <= ref1 : i >= ref1; page = ref <= ref1 ? ++i : --i) { %>
              <% if (page == currentPage) { %>
                <li class="disabled">
                  <a>
                    <%= page %>
                  </a>
                </li>
              <% } else { %>
                <li>
                  <a class="page" href="<%= path.replace('%PAGE%', page) %>">
                    <%= page %>
                  </a>
                </li>
              <% } %>
            <% } %>
          <% } %>
        <% } %>

        <% if (currentPage < totalPages) { %>
          <li>
            <% page = currentPage + 1 %>
            <a class="page" href="<%= path.replace('%PAGE%', page) %>">
              Next
            </a>
          </li>
        <% } else { %>
          <li class="disabled">
            <a>Next</a>
          </li>
        <% } %>
      </ul>
    <% } %>
  </script>

  <!-- JAVASCRIPT -->
  <!-- CDN JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.16/backbone.localStorage.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.wreqr/1.3.5/backbone.wreqr.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.babysitter/0.1.10/backbone.babysitter.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.marionette/2.4.3/backbone.marionette.js"></script>

  <!-- App js -->
  <script src="/js/boot.js"></script>

  <script src="/js/extensions/_mixins.js"></script>
  <script src="/js/extensions/backbone_ajax.js"></script>
  <script src="/js/extensions/date_time_format.js"></script>
  <script src="/js/extensions/set_document_title.js"></script>
  <script src="/js/extensions/random_string_generator.js"></script>
  <script src="/js/extensions/redirect.js"></script>

  <script src="/js/models/_main.js"></script>
  <script src="/js/models/account.js"></script>
  <script src="/js/models/customer.js"></script>
  <script src="/js/models/login.js"></script>
  <script src="/js/models/transaction.js"></script>

  <script src="/js/collections/accounts.js"></script>
  <script src="/js/collections/customers.js"></script>
  <script src="/js/collections/logins.js"></script>
  <script src="/js/collections/transactions.js"></script>

  <script src="/js/views/layout.js"></script>

  <script src="/js/views/_base/_composite_view.js"></script>
  <script src="/js/views/_base/_item_view.js"></script>
  <script src="/js/views/_base/_paginated_view.js"></script>

  <script src="/js/views/accounts/_account.js"></script>
  <script src="/js/views/accounts/empty.js"></script>
  <script src="/js/views/accounts/index.js"></script>
  <script src="/js/views/accounts/show.js"></script>

  <script src="/js/views/application/_modal.js"></script>
  <script src="/js/views/application/confirm_modal.js"></script>
  <script src="/js/views/application/main_info.js"></script>
  <script src="/js/views/application/message.js"></script>

  <script src="/js/views/connect/connect.js"></script>
  <script src="/js/views/customers/customer_show.js"></script>
  <script src="/js/views/dashboard/dashboard.js"></script>

  <script src="/js/views/logins/_login.js"></script>
  <script src="/js/views/logins/empty.js"></script>
  <script src="/js/views/logins/index.js"></script>
  <script src="/js/views/logins/show.js"></script>

  <script src="/js/views/transactions/_transaction.js"></script>
  <script src="/js/views/transactions/empty.js"></script>
  <script src="/js/views/transactions/index.js"></script>
  <script src="/js/views/transactions/show.js"></script>

  <script src="/js/routers/_main.js"></script>
  <script src="/js/routers/root.js"></script>
  <script src="/js/routers/accounts.js"></script>
  <script src="/js/routers/connect.js"></script>
  <script src="/js/routers/customers.js"></script>
  <script src="/js/routers/dashboard.js"></script>
  <script src="/js/routers/logins.js"></script>
  <script src="/js/routers/transactions.js"></script>

  <div id="app"></div>

  <script>
    $(document).ready(function() {
      window.HermesApp.init();
    });
  </script>

</body>
</html>
